\documentclass[11 pt]{article}
\oddsidemargin0cm
\topmargin-2cm
\textwidth16.5cm
\textheight23.5cm
\renewcommand{\part}[1] {\vspace{.10in} {\bf (#1)}}

\pagestyle{empty}

\usepackage{graphicx,amsmath,subfig,epstopdf}

\begin{document}

\title{Biostatistics Cluster Usage}
\date{<tmpl_var name="date">}
\maketitle

\pagebreak

\begin{table}
  \centering
  \begin{tabular}{r | l}
    \hline
      \bf{Allocated} & Amount of time allocated to jobs \\
      \bf{Down} & Amount of time the cluster was down/offline for an unplanned outage \\
      \bf{Planned Down} & Amount of time the cluster was down/offline for a scheduled outage \\
      \bf{Idle} & Amount of time the cluster as idle(ie; resources available but no jobs submitted) \\
      \bf{Reserved} & Amount of time that a job was waiting for resources after the job had become eligible \\
      \bf{Reported} & Total amount of time during the report date range \\
    \hline
  \end{tabular}
  \caption{Cluster Utilization Definitions}
\end{table}

\begin{table}
  \centering
  \begin{tabular}{r | l}
    \hline
    \bf{Cores} & 360 Total cores with users limited to 65\% of those cores at one time \\
    \bf{Nodes} & 27 Compute nodes \\
    \bf{Storage} & 16TB of storage for user home directories \\
    \bf{Users} & 40 Total users, 10 users from contributions \\
    \hline
  \end{tabular}
  \caption{Cluster Specs}
\end{table}

\pagebreak

\begin{table}
  \centering
  \begin{tabular}{| r | l |}
    \hline
    \bf{<tmpl_var name="pu_col1_hd">} & \bf{<tmpl_var name="pu_col2_hd">} \\
    \hline
    <tmpl_loop name="pu_results">
      <tmpl_var name="col1"> & <tmpl_var name="col2"> \\
      \hline
    </tmpl_loop>
  \end{tabular}
  \caption{<tmpl_var name="pu_title">}
\end{table}

\begin{table}
  \centering
  \begin{tabular}{| r | l | l | l | l | l | l |}
    \hline
    \bf{<tmpl_var name="pum_col0_hd">} & \bf{<tmpl_var name="pum_col1_hd">} & \bf{<tmpl_var name="pum_col2_hd">} & \bf{<tmpl_var name="pum_col3_hd">} & \bf{<tmpl_var name="pum_col4_hd">} & \bf{<tmpl_var name="pum_col5_hd">} & \bf{<tmpl_var name="pum_col6_hd">} \\
    \hline
    <tmpl_loop name="pum_results">
      <tmpl_var name="col0"> & <tmpl_var name="col1"> & <tmpl_var name="col2"> & <tmpl_var name="col3"> & <tmpl_var name="col4"> & <tmpl_var name="col5"> & <tmpl_var name="col6"> \\ 
      \hline
    </tmpl_loop>
  \end{tabular}
  \caption{<tmpl_var name="pum_title">}
\end{table}

\pagebreak

\begin{table}
  \centering
  \begin{tabular}{| l | p{2cm} | p{2cm} | p{2cm} | p{2cm} | p{2cm} |}
    \hline
    \bf{<tmpl_var name="wit_col0_hd">} & \bf{<tmpl_var name="wit_col1_hd">} & \bf{<tmpl_var name="wit_col2_hd">} & \bf{<tmpl_var name="wit_col3_hd">} & \bf{<tmpl_var name="wit_col4_hd">} & \bf{<tmpl_var name="wit_col5_hd">} \\
    \hline
    <tmpl_loop name="wit_results">
      <tmpl_var name="col0"> & <tmpl_var name="col1"> & <tmpl_var name="col2"> & <tmpl_var name="col3"> & <tmpl_var name="col4"> & <tmpl_var name="col5"> \\
      \hline
    </tmpl_loop>
  \end{tabular}
  \caption{<tmpl_var name="wit_title">}
\end{table}

\pagebreak

\begin{table}
  \centering
  \begin{tabular}{| l | l | l |}
    \hline
    \bf{<tmpl_var name="tu_col0_hd">} & \bf{<tmpl_var name="tu_col1_hd">} & \bf{<tmpl_var name="tu_col2_hd">} \\
    \hline
    <tmpl_loop name="tu_results">
      <tmpl_var name="col0"> & <tmpl_var name="col1"> & <tmpl_var name="col2"> \\
      \hline
    </tmpl_loop>
  \end{tabular}
  \caption{<tmpl_var name="tu_title">}
\end{table}

\pagebreak

\begin{figure}[ht!]
  \subfloat[Cluster Utilization by month]{\includegraphics[scale=0.42]{cluster_util.pdf}}
  \subfloat[Average Job Waittime by week]{\includegraphics[scale=0.42]{wait_time.pdf}} \\

  \subfloat[Total Jobs by week]{\includegraphics[scale=0.42]{total_jobs.pdf}}
  \subfloat[Job Duration by week]{\includegraphics[scale=0.42]{job_duration_line.pdf}} \\

  \subfloat[Job Duration (log scale)]{\includegraphics[scale=0.42]{job_duration_hist.pdf}}
  \subfloat[CPU Minutes per user (log scale)]{\includegraphics[scale=0.42]{cpu_minutes.pdf}}
\end{figure}

\end{document}
