\documentclass[11 pt]{article}
\oddsidemargin0cm
\topmargin-2cm
\textwidth16.5cm
\textheight23.5cm
\renewcommand{\part}[1] {\vspace{.10in} {\bf (#1)}}

\pagestyle{empty}

\usepackage{graphicx,amsmath,subfig,epstopdf}

\begin{document}

\title{Biostatistics Cluster Usage}
\date{<tmpl_var name="date">}
\maketitle

\pagebreak

\title{Cluster Utilization defintions}

\begin{description}
  \item[Allocated] Amount of time allocated to jobs
  \item[Down] Amount of time the cluster was down/offline for an unplanned outage
  \item[Planned Down] Amount of time the cluster was down/offline for a scheduled outage
  \item[Idle] Amount of time the cluster as idle(ie; resources available but no jobs submitted)
  \item[Reserved] Amount of time that a job was waiting for resources after the job had become eligible
  \item[Reported] Total amount of time during the report date range
\end{description}

\pagebreak

\begin{table}
  \centering
  \begin{tabular}{| r | l |}
    \hline
    \bf{<tmpl_var name="pu_col1_hd">} & \bf{<tmpl_var name="pu_col2_hd">} \\
    \hline
    <tmpl_loop name="pu_results">
      <tmpl_var name="col1"> & <tmpl_var name="col2"> \\
      \hline
    </tmpl_loop>
  \end{tabular}
  \caption{<tmpl_var name="pu_title">}
\end{table}

\begin{table}
  \centering
  \begin{tabular}{| r | l | l | l | l | l | l |}
    \hline
    \bf{<tmpl_var name="pum_col0_hd">} & \bf{<tmpl_var name="pum_col1_hd">} & \bf{<tmpl_var name="pum_col2_hd">} & \bf{<tmpl_var name="pum_col3_hd">} & \bf{<tmpl_var name="pum_col4_hd">} & \bf{<tmpl_var name="pum_col5_hd">} & \bf{<tmpl_var name="pum_col6_hd">} \\
    \hline
    <tmpl_loop name="pum_results">
      <tmpl_var name="col0"> & <tmpl_var name="col1"> & <tmpl_var name="col2"> & <tmpl_var name="col3"> & <tmpl_var name="col4"> & <tmpl_var name="col5"> & <tmpl_var name="col6"> \\ 
      \hline
    </tmpl_loop>
  \end{tabular}
  \caption{<tmpl_var name="pum_title">}
\end{table}

\pagebreak

\begin{table}
  \centering
  \begin{tabular}{| l | p{2cm} | p{2cm} | p{2cm} | p{2cm} | p{2cm} |}
    \hline
    \bf{<tmpl_var name="wit_col0_hd">} & \bf{<tmpl_var name="wit_col1_hd">} & \bf{<tmpl_var name="wit_col2_hd">} & \bf{<tmpl_var name="wit_col3_hd">} & \bf{<tmpl_var name="wit_col4_hd">} & \bf{<tmpl_var name="wit_col5_hd">} \\
    \hline
    <tmpl_loop name="wit_results">
      <tmpl_var name="col0"> & <tmpl_var name="col1"> & <tmpl_var name="col2"> & <tmpl_var name="col3"> & <tmpl_var name="col4"> & <tmpl_var name="col5"> \\
      \hline
    </tmpl_loop>
  \end{tabular}
  \caption{<tmpl_var name="wit_title">}
\end{table}

\pagebreak

\begin{table}
  \centering
  \begin{tabular}{| l | l | l |}
    \hline
    \bf{<tmpl_var name="tu_col0_hd">} & \bf{<tmpl_var name="tu_col1_hd">} & \bf{<tmpl_var name="tu_col2_hd">} \\
    \hline
    <tmpl_loop name="tu_results">
      <tmpl_var name="col0"> & <tmpl_var name="col1"> & <tmpl_var name="col2"> \\
      \hline
    </tmpl_loop>
  \end{tabular}
  \caption{<tmpl_var name="tu_title">}
\end{table}

\pagebreak

\begin{figure}[h!]
\subfloat[Cluster Utilization]{\label{fig:gull}\includegraphics[width=0.5\textwidth]{cluster_util.pdf}}
\subfloat[Average Job Waittime]{\label{fig:gull}\includegraphics[width=0.5\textwidth]{wait_time.pdf}} \\
\subfloat[Total Jobs]{\label{fig:gull}\includegraphics[width=0.5\textwidth]{total_jobs.pdf}}
\subfloat[Job Duration (a)]{\label{fig:gull}\includegraphics[width=0.5\textwidth]{job_duration_line.pdf}} \\
\subfloat[Job Duration (b)]{\label{fig:gull}\includegraphics[width=0.5\textwidth]{job_duration_hist.pdf}}
\subfloat[CPU Minutes per user]{\label{fig:gull}\includegraphics[width=0.5\textwidth]{cpu_minutes.pdf}}
\end{figure}

\end{document}
